.container{
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.btn-1 {
width: 200px;
height: 100px;
border: none;
color: #1b84d1;
background-color: #55f9ef;
border-radius: 4px;
font-size: 2rem;
outline: none;
min-height: 10px;
margin: 20px;
}

.btn-2 {
width: 200px;
height: 100px;
border: none;
color: #1b84d1;
background-color: #55f9ef;
border-radius: 4px;
font-size: 2rem;
outline: none;
min-height: 10px;
margin: 20px;
}

.btn-3 {
width: 200px;
height: 100px;
border: none;
color: #1b84d1;
background-color: #55f9ef;
border-radius: 4px;
font-size: 2rem;
outline: none;
min-height: 10px;
margin: 20px;
}
