html, body{
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#FC00FB,#B4007C);
  font-family: "Arial Rounded", Helvetica, sans-serif;
  color:white;
}
header{
  font-size: 50px;
  border-style: none none solid none;
  border-width: 1px;
}
@font-face {
  font-family: "Arial Rounded";
  src: url('ARLRDBD.ttf');
}
/*.container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}*/
button {
  display: inline-block;
  width: 40%;
  border: none;
  padding: 14px 28px;
  font-size: 50px;
  cursor: pointer;
  text-align: center;
  position:absolute;
  border-radius: 25px;
  margin:20px;
  min-height: 10px;
  font-family: "Arial Rounded", Helvetica, sans-serif;
  box-shadow: 10px 10px 5px #000000;
  color:#1b84d1;
  background-image:linear-gradient(to right, #00D8C1, #55f9ef, #00d8c1)
}

button:hover{
 background-image:linear-gradient(to right, #00a891, #33a99f, #00a891);
  color:#0d4299
}

.btn-1 {
  font-size: 3rem;
  left:25%;
  top:25%; 
  transform: translate(-50%, -50%);
} 

.btn-2 {
  font-size: 3rem;
  left:50%;
  top:50%; 
  transform: translate(-50%, -50%);
} 

.btn-3 {
  font-size: 3rem;
  left:75%;
  top:75%; 
  transform: translate(-50%, -50%);
} 

.goback {
  width: 20%;
  font-size: 20px;
  left:10%;
  top:75%;
  transform: translate(-50%, -50%);
  color:gray; 
  background:lightgray
}
.goback:hover{
 color:#505050;
  background:darkgray
}